<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Detalhe da Lista</title>

  <link rel="stylesheet" href="../css/styles.css" />
</head>

<body id="topo">

<header>
  <div class="nav">
    <!-- <div class="logo">🎙️SpeakEasy Fluent</div> -->
    <a href="../index.html">
      <div class="logo">🎙️️SpeakEasy Fluent</div>
    </a>

    <nav class="nav-item">
      <a href="../index.html">Home</a>
      <a href="study-list.html">Listas</a>
    </nav>
  </div>
</header>

<main class="study-detail">
  <h2 id="titulo-lista"></h2>

  <div id="frases" class="lista-frases"></div>
</main>

<!-- Link para voltar ao topo - verificar icon seta pra cima-->
<a href="#topo" class="btn-topo">Voltar para a Home/Topo</a>

<script type="module" src="../js/study-detail.js"></script>

</body>
</html>
