<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Músicas</title>

    <link rel="stylesheet" href="../css/styles.css">

</head>

<body id="topo">

<header>

    <div class="nav">

    <a href="../index.html">
    <div class="logo">🎙️ SpeakEasy Fluent</div>
    </a>

    <nav class="nav-item">

    <a href="../index.html">Home</a>

    </nav>

    </div>

</header>

<main class="study-list">

    <div class="titulo-listas">

    <h2>🎵 Músicas para estudo</h2>

    </div>

    <div class="maratona-botao">

    <button id="btnMaratonaSong">

    🏁 Iniciar Maratona de Músicas

    </button>

    </div>

    <div id="songs" class="grid"></div>

</main>

<a href="#topo" class="btn-topo">

Voltar para a Home/Topo

</a>

<script type="module" src="../js/study-song.js"></script>

</body>

</html>