<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Listas Séries</title>

  <link rel="stylesheet" href="../css/styles.css" />
</head>

<body id="topo">

<header>
  <div class="nav">
    <!-- <div class="logo">🎙️SpeakEasy Fluent</div> -->
    <a href="../index.html">
      <div class="logo">🎙️️SpeakEasy Fluent</div>
    </a>

    <nav class="nav-item">
      <a href="../index.html">Home</a>
    </nav>
  </div>
</header>

<main class="study-list">
  <div class="titulo-listas">
    <h2>📚 Suas séries de estudo</h2>
  </div>
  <!-- 🔥 BOTÃO DA MARATONA -->
  <div class="maratona-botao">
    <button id="btnMaratonaScroll">🏁 Iniciar Maratona Scroll em Séries</button>
  </div>
  <div id="listas" class="grid"></div>
</main>

<!-- Link para voltar ao topo - verificar icon seta pra cima-->
<a href="#topo" class="btn-topo">Voltar para a Home/Topo</a>

<script type="module" src="../js/study-serie.js"></script>

</body>
</html>
